

	body {
		width: 1500px;
		height: 100%;
	}


	.columns {
		float:left;
		width: 300px;
		height: auto;
		margin-left: 50px;
		margin-top: 20px;
		margin-bottom: 20px;
		overflow:hidden;

	}

	img {
		width:inherit;
	}

	h2 {
		font-weight: bold;
		text-align: center;
		font-size: 36px;
	}

	iframe {
		width:inherit;
	}